<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>calculate</servlet-name>
        <servlet-class>servlets.Calculate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>history</servlet-name>
        <servlet-class>servlets.History</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>calculate</servlet-name>
        <url-pattern>/calculate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>history</servlet-name>
        <url-pattern>/history</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
	<param-name>path</param-name>
	<param-value>jdbc:sqlserver://127.0.0.1:1433;databaseName=java_calculator;</param-value>
    </context-param>
    <context-param>
	<param-name>user</param-name>
	<param-value>sa</param-value>
    </context-param>
    <context-param>
	<param-name>password</param-name>
	<param-value>Admin1</param-value>
    </context-param>

   
</web-app>
